<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Contact Picker API Demo</title>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    <meta name="theme-color" content="#3f51b5">
    <!-- OT Expires 2020-01-14 -->
    <meta http-equiv="origin-trial" content="AkAQoYg8XDMUqBR/HwcOUoqAx3Z5+RyarNB5KwUx9ZXygz7wjd8cxqKvwY3FOO1CPdqccip8g8Ayuf9/pqTxmwUAAABheyJvcmlnaW4iOiJodHRwczovL2NvbnRhY3QtcGlja2VyLmdsaXRjaC5tZTo0NDMiLCJmZWF0dXJlIjoiQ29udGFjdHNNYW5hZ2VyIiwiZXhwaXJ5IjoxNTc5MDI5NTcwfQ==">
  </head>  
  <body>
 
    
    <p id="requireHTTPS" class="hidden">
     
    </p>
       
    <p id="notSupported">
    
    </p>
       

    <ol>
      
      <li>
        <input type="checkbox" id="name" disabled />
        <label for="name">Include name?</label>
      </li>
  
      <li>
        <input type="checkbox" id="tel" disabled />
        <label for="tel">Include telephone numbers?</label>
      </li>
    
    </ol>

   
    <p>
      <button id="butRequest" type="button" disabled>
        Open contact picker
      </button>
    </p>
    
    <p>
      <b>Results</b>
    </p>
    <ul id="results">
      <li>Results will be populated here.</li>
    </ul>
    <pre id="rawResults">
    </pre>

    
    <script src="/common.js"></script>
    <script src="/demo.js"></script>

  </body>
</html>
