<%- include('./partials/header.ejs') %>
<%- include('./partials/navbar.ejs') %>
<style>
  body{
    background: rgba(2, 0, 36, 0.568);
  background: linear-gradient(90deg, rgba(91, 88, 139, 0.479) 0%, rgba(9, 9, 121, 0.445) 35%, rgba(0, 213, 255, 0.438) 100%);}
    .p_text{
      font-size: 22px;
      font-weight:700;
      
    }
  #main{
    height:50vh;
  }
</style>
<div class="container-fluid main" style="margin-top: 42%;">

    <div class="col-11 col-md-10 mx-auto " id="main">
       <p class="p_text text-center">
               Get Loans UPTO 10,000
            </p>
        <img src="https://cdn.glitch.me/3ba201fb-d584-4df2-b150-01867434d57d%2Fbanner.jpg?v=1638733677634" alt="" style="width:300px;">
        <div class="text-center my-3">
            <h4>In Just 5 Minutes</h4>
        </div>
    </div>
<div class=" mt-5">
            <a href="" class="btn btn-sm btn-warning w-100 py-2">Login</a>
        </div>
       <div class="">
            <a href="" class="btn btn-sm btn-warning w-100  mt-3 py-2">Signup</a>
  </div>

</div>

<%- include('./partials/footer.ejs') %>